
@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.font-syne {
  font-family: 'Syne', sans-serif;
  /* font-weight: 900; */
}

.step-indicator {
  transition: all 0.3s ease;
}